<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%#<h1>Here are the comments from, <%= @user.name %></h1>%>
    <h1>Here are the comments from a user</h1>
  </body>
</html>
