<% pages = ["general", "attendance", "grades", "tests", "comments"] %>
  <ul id="navigation" class="">
      <% pages.each do |page| %>
        <% if page == params[:action] %>
          <li class="clickable active" id="<%="#{page}"%>-link">
            <%= link_to page.capitalize, "#{page}" %>
          </li>
        <% else %>
          <li class="clickable" id="<%="#{page}"%>-link">
            <%= link_to page.capitalize, "#{page}" %>
          </li>
        <% end %>
      <% end %>
  </ul>
