<br />
<div>
  <h2> Welcome to Joe's report card! </h2>
  <div id="intro-text" class="span-22">
    <p> Here, you can look at Jose's basic academic performance and attendance record.  Want to leave comments for Mr. Wairi? Click "send" on the last page.  (All the comments that you have written will be emailed to Mr. Wairi.) Use the highlighted arrows at the bottom of the screen to see another page!  </p>

  </div>
  <div class="span-15">
    <%= image_tag "josh.png", :class => "span-4" %>
    <h4 class="span-10">
      Here's what Mr. Wairi has to say about Joe's performance this term:
    </h4>

    <div id="notes-from-teacher">
       <ul>
         <li>
           Lorem ipsum dolor sit amet, consectetur magna aliqua. 
         </li>
         <li>
           ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </li>
         <li>
           velit esse cillum dolore eu fugiat nulla pariatur. 
         </li>
         <li>
           ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </li>
         <li>
           velit esse cillum dolore eu fugiat nulla pariatur. 
         </li>
       </ul>
    </div>
  </div>
  <div class="prepend-1 span-3">
    <%= text_area_tag "comment", "Write comments here" %>
  </div>
</div>
