#header{
  background-color: #8EA2A4; 
}
#comments{
  background-color: #E5E5E5;
}
#content{
  margin-right: 0px;
}
#content h2, #content div{
  padding-left:10px;
  padding-right:10px;
}
#student-details li{
  list-style:none;
}
#student-image {
  margin-left:30px;
  margin-top:15px;
}
#bottom-navigation {
  margin-top: 10px;
  background-color: #8EA2A4;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#bottom-navigation li{
  padding: 5px;
  list-style:none;
  display:inline;
  background-color: #2B2EC1;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align:center;
}
#bottom-navigation li a{
  font-size:15px;
  color:white;
  text-decoration:none;
}
#bottom-navigation li.active{
  background-color:white;
}
#bottom-navigation li.active a{
  color:black;
}
#sign-in{
 float:right; 
}
.month-of-attendance{
  margin-top:10px;
}
#title {
  margin-top:45px;
}

#footer-container{
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
#footer {
  width:960px;
  position:fixed;
  bottom:0px;
  padding-top: 2px;
  background-color: #FFFFFF;
}
#content-wrapper{
  padding-bottom:100px;
}
textarea {
  width:260px !important; height:130px !important; padding:5px !important;
}
.subject {
  border: 1px solid black;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

.month {
  margin-top: 70px !important;
  margin-bottom: 30px !important;
}
.test {
  padding: 0px !important;
  margin: 0px !important;
}
.attendence-description{
}
.subject-title {
  font-size:20px;
}
.clickable {
  cursor:pointer;
}
#intro-text {
  font-size:14px;
}
.metric {
  background-color:black;
  color:white;
  padding-left:2px;
}
.metric-and-score {
  margin-bottom:2px;
  list-style:none;
}
.metrics-and-scores {
  margin-left: 0;
  padding-left: 0;
}
.grade-m {
}
.grade-s {
  background-color: #FEFA95;
}
.grade-n {
  background-color: #EBD3ED;
}
.grade-na {
  background-color: #8EA2A4;
}

#standards-explanation {
  float:right;
  margin:0px;
  padding:0px !important;
}
#container {
  width:960px;
  margin-left: auto ;
  margin-right: auto ;
}
#notes-from-josh {
  font-style:italic; 
}

#calendar {
}
.fc-header-right {
}
.fc-header {
  margin:0px;
}

.list-heading {
  margin-bottom:0px; 
}
.attendance-description {
  margin-left: 20px !important;
}
.fc-day-number {
  padding-right:0px !important;
}
.fc-event-title {
  width: 40px !important;
  padding: 0px !important;
}
.fc-event {
  width: 40px !important;
  padding: 0px !important;
}
.fc-event-inner{
  width: 40px !important;
  padding: 0px !important;
}
.fc-view > div {
  z-index: -1 !important;
}
.fc-view, .fc-view-month, .fc-grid {
  padding-left:0px !important; 
}
