/*
 * div { outline: 1px solid red; }
 *span { outline: 1px solid blue; }
 */
html{
background-color: #FFF;
}
#header-background {
  color: white;
  height:75px;
  position:absolute;
  width:100%;
  z-index:-1;
  background-color: #333333;
}
#header{
  color: white;
  height:75px;
  background-color: #333333;
  margin-bottom:25px;
}
#sign-in{
  text-align:right; 
  padding-top: 10px;
}
.link {
  color:#FFDFAA !important;
  font-size: 11px;
}
.link:visited {
  color:#FFDFAA !important;
}
.link:hover {
  color:#C3D9FF !important;
}
.user-name {
  font-size: 11px;
  padding-right: 10px;
}
#content{
  margin-right: 0px;
}
#content h2, #content div{
}
li{
  list-style:none;
}
#student-image {
  margin-left:30px;
  margin-top:15px;
}
#navigation {
  margin-top: 5px;
  padding: 0px;
}
#navigation li {
  background-color: #FFDFAA;

  padding:10px;
  padding-bottom:4px;
  margin-right: 5px;
  display: inline;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}
#navigation li a {
  padding: 10px;
  font-size:14px;
  text-decoration:none;
  color:black;
}
#send-comments fieldset{
}
#navigation li.active{
  border-top: solid #C3D9FF 3px;
  border-left: none;
  border-right: none;
  background-color:white;
  padding-bottom: 25px;
  color:black;
}
#navigation li.active:hover {
  border-left: none;
  border-right: none;
}

#navigation li.active a{
  color:black;
}

#navigation li:hover {
  border-top: solid #C3D9FF 3px;
  background-color:white;
  color:black;
}

#navigation li.active a{
}
.month-of-attendance{
  margin-top:10px;
}
.month-wrapper {
  border-right: 3px solid #E0E3EE !important; 
}
#title {
  color:white;
  margin-bottom: 10px;
}
#login-title {
  margin-top: 15px;
  color:white;
}


a {
}

#content-wrapper{
  background-color: white;
  padding-bottom:100px;
}
textarea {
  width:260px !important; height:130px !important; padding:5px !important; margin:0px !important;
  border: 1px solid #E0E3EE !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white !important;
}

textarea:hover, textarea:focus {
}
.subject {
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

.test {
  padding: 0px !important;
  margin: 0px !important;
}
.attendence-description{
  margin-top: 35px !important;
}
.subject-title {
  font-size:24px;
}
.clickable {
  cursor:pointer;
}
.clickable.hovered {
}
.text-box{
  margin-top: 10px;
}
#intro-text {
  font-size:14px;
  margin-bottom: 20px;
}
.metric {
  background-color:black;
  color:white;
  padding-left:2px;
}
.metric-and-score {
  margin-bottom:2px;
  list-style:none;
}
.metrics-and-scores {
  margin-left: 0;
  padding-left: 0;
}
.grade-description {
  width: 500px;
}
.subject-details, .exam-details td {
  background-color:white;
}

.teacher-image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.teacher-image img {
  background-color: white; 
  border: solid 1px #FFDFAA;
  padding: 8px;
}
.grade-m {
  background-color: #CDF;
  /* color: #9AD; */
}
.grade-s {
  background-color: #FEFA95;
}
.grade-n {
  background-color: #EBD3ED;
}
.grade-na {
  background-color: white;
  color: #999;
}

#standards-explanation {
  float:right;
  margin:0px;
  padding:0px !important;
}
#container {
  width:960px;
  margin-left: auto ;
  margin-right: auto ;
}
#notes-from-teacher {
  border-right: 3px solid #E0E3EE;
}
#notes-from-teacher h4 {
  font-style: italic; 
}
.fc-border-separate {
  border: 2px solid #6C7F81;
}
.fc-day-number {
  padding: right 9px !important;
}
.fc-border-separate tbody {
  background-color: white;
}
.fc-header-right {
}
.fc-header {
  margin:0px;
}
.fc-header-title h2 {
  margin:0px;
}

.heading {
  font-size: 24px;
}
.list-heading {
  font-size:14px;
  margin-bottom:0px; 
}
.fc-event-title {
  width: 40px !important;
  padding: 0px !important;
  z-index: -1 !important;
}
.fc-event {
  width: 40px !important;
  padding: 0px !important;
  z-index: -1 !important;
}
.fc-event-inner{
  width: 40px !important;
  padding: 0px !important;
  z-index: -1 !important;
}
.fc-view > div {
  z-index: 0 !important;
}
.fc-view, .fc-view-month, .fc-grid {
  padding-left:0px !important; 
  z-index: 0 !important;
}

/*hmmm*/
table.scores td {
  border-width: 1px;
  padding-left: 3px;
  border-style: ridge;
  border-color: gray;
}
table.scores th {
  background-color: white;
  border-width: 1px;
  padding-left: 3px;
  border-style: ridge;
  border-color: gray;
}

.attendance-comment {
  margin-left:50px;
  margin-top:35px;
}

/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
}
/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999999;
}
input:placeholder, textarea:placeholder {
  color:#999999;
}
#comment {
  font-family: "Helvetica Neue";
  font-size: 14px;
  background: white !important;
}
#final-comment{
  margin-right:24px !important;

}
.comment-summary {
  padding-left: 0; 
}
.comment-summary li{
  list-style-type: circle;
}
.shallow-bottom {
  padding-bottom:0px;
  margin-bottom:0px;
}
.sent-comments {
  background-color: #FFDFAA;
  padding-left: 5px;
  border: solid 1px #6C8082;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-align: center;
}
.sent-comments:hover {
  background-color: #C3D9FF;
}
#add-more-comments {
  margin:0px;
}
.false {
  display: none;
}
.small-text {
  font-size:14px;
}

.flash {
  text-align: center;
  font-size: 14px;
  position: relative;
  z-index: 1000;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 2px #6C8082;
}

#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#alert { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #alert { width: 100%; margin-bottom: 5px;}
#notice p, #alert p { padding: 0; margin: 0px; padding:5px; color: #000; }
#notice a, #alert a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#alert a { border: 1px solid #900; color: #900; }
#notice a:hover, #alert a:hover { color: #333; border: 1px solid #333; }

.center {
  text-align:center !important;
}
#absence-summary {
  float: right;
}
#absence-summary {
  text-align: right;
}
.submit-button {
  float:right;
  margin-top: 7px;
}
#submit-comments-button {
  float:none;
}
.comment-category {
  float:right;
}
.space-up-top {
  margin-top: 25px;
}
.semi-shallow-bottom{
  margin:3px;
}
.text-box {
  margin-left:20px;
}
.submit-comments {
  font-size: 25px !important;
}
