#header{
  background-color: #B1B1B1; 
}
#comments{
  background-color: #E5E5E5;
}
#content{
  margin-right: 0px;
}
#content h2, #content div{
  padding-left:10px;
  padding-right:10px;
}
#student-details li{
  list-style:none;
}
#student-image {
  margin-left:30px;
  margin-top:15px;
}
#bottom-navigation {
  margin-top: 10px;
  background-color: #B1B1B1;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#bottom-navigation li{
  padding: 5px;
  list-style:none;
  display:inline;
  background-color: #A7FFFF;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align:center;
}
#bottom-navigation li a{
  font-size:15px;
  color:black;
  text-decoration:none;
}
#bottom-navigation li.active{
  background-color:#FFFFFF;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
#sign-in{
 float:right; 
}
.month-of-attendance{
  margin-top:10px;
}
#title {
  margin-top:45px;
}

#footer {
    background-color: #FFFFFF;
    position:fixed;
    bottom:0px;
    width:100%;
    border-top:1px solid black;
    padding-top: 2px;
    min-width:960px;
}
#content-wrapper{
  padding-bottom:100px;
}
textarea {
  width:260px !important; height:70px !important; padding:5px !important;
}
.subject {
  border: 1px solid black;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

.month {
  padding: 0px !important;
  margin: 0px !important;
}
.attendence-description{
  padding:0px !important;
}
.subject-title {
  font-size:20px;
}
.clickable {
  cursor:pointer;
}
#intro-text {
  font-size:14px;
}
