  <h2>attendance:</h2>

  <div class="span-11">
    <div class="column span-4">
      <h3>March</h3>
      <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
    </div>
    <div class="column span-5">
      <h3>
        Summary:
      </h3>
      <div>
        Days absent: 1
      </div>
      <div>
        Days late: 2
      </div>
    </div>
  </div>

  <div class="span-11">
    <div class="column span-4">
      <h3>April</h3>
      <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
    </div>
    <div class="column span-5">
      <h3>
        Summary:
      </h3>
      <div>
        Days absent: 1
      </div>
      <div>
        Days late: 2
      </div>
    </div>
  </div>

  <div class="span-11">
    <div class="column span-4">
      <h3>May</h3>
      <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
    </div>
    <div class="column span-5">
      <h3>
        Summary:
      </h3>
      <div>
        Days absent: 1
      </div>
      <div>
        Days late: 2
      </div>
    </div>
  </div>

