<div id="header" class="span-24">
  <h1 class="prepend-5 span-13">Joe Smith's Report Card</h1>
  <div id="sign-in" class="span-1">logout</div>
</div>

<div class="span-24">
  <div id="details" class="column span-5">
    <div id="student-image">
      <%= image_tag "https://img.skitch.com/20110330-8y4ixk1rda5caeracd5cr9qqjr.jpg" %>
    </div>
    <ul id="student-details">
      <li>
        Name: Joe
      </li>
      <li>
        info
      </li>
      <li>
        info
      </li>
      <li>
        info
      </li>
      <li>
        info
      </li>
    </ul>
  </div>
  <div id="content" class="column span-11">
    <h2>attendance:</h2>

    <div class="span-11">
      <div class="column span-4">
        <h3>March</h3>
        <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
      </div>
      <div class="column span-5">
        <h3>
          Summary:
        </h3>
        <div>
          Days absent: 1
        </div>
        <div>
          Days late: 2
        </div>
      </div>
    </div>

    <div class="span-11">
      <div class="column span-4">
        <h3>April</h3>
        <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
      </div>
      <div class="column span-5">
        <h3>
          Summary:
        </h3>
        <div>
          Days absent: 1
        </div>
        <div>
          Days late: 2
        </div>
      </div>
    </div>

    <div class="span-11">
      <div class="column span-4">
        <h3>May</h3>
        <%= image_tag "https://img.skitch.com/20110331-bh66ism2r8m1ma9hssdt26im3b.jpg" %>
      </div>
      <div class="column span-5">
        <h3>
          Summary:
        </h3>
        <div>
          Days absent: 1
        </div>
        <div>
          Days late: 2
        </div>
      </div>
    </div>

  </div>
  <div id="comments" class="column prepend-1 span-7 last">Comments:
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</div>
</div>
<div class="span-24">
  <div class="prepend-5">
    <ul id="bottom-navigation" class="prepend-1 append-1 span-9">
      <li class="span-1 prev-next">&lt&lt</li>
      <li class="span-1 active"></li>
      <li class="span-1"></li>
      <li class="span-1"></li>
      <li class="span-1"></li>
      <li class="span-1"></li>
      <li class="span-1 prev-next">&gt&gt</li>
    </ul>
  </div>
</div>
