<br />
<div>
  <h2> Welcome to Joe's report card! </h2>
  <div id="intro-text">
    <p> Here, you can look at Jose's basic academic performance and attendance record.  Want to leave comments for Mr. Wairi? Click "send" on the last page.  (All the comments that you have written will be emailed to Mr. Wairi.) Use the highlighted arrows at the bottom of the screen to see another page!  </p>

  </div>
  <div class="span-15 prepend-4">
    <%= image_tag "josh.png", :class => "span-4" %>
    <h4 class="span-10">
      Here's what Mr. Wairi has to say about Joe's performance this term:
    </h4>

    <div id="notes-from-josh">
       <p>
         Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
       </p>
    </div>
  </div>
</div>
