<h2> Welcome to Joe's report card! </h2>
<div id="intro-text">
  <p class="span-15"> Here, you can review Joe's academic performance and attendance record.</p>

  <p class="span-15"> While you review, you can leave comments for the teacher to have a look at.  Just hit "send" on the last page, and all the comments that you have written will be emailed to the teacher.</p>

  <p class="span-15"> You can navigate to the other sections with the arrows and page names at the bottom of the screen.  The section highlighted in white shows you where you are.  For example, right now you are on "Intro."</p>
</div>
